.home {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
}

.logo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo img.logoimg {
  width: 27rem;
  height: 27rem;
  transition: 0.50s;
  -webkit-box-shadow: 0rem 0rem 9rem rgba(255,0,0,0.45);
  -moz-box-shadow: 0rem 0rem 9rem rgba(255,0,0,0.45);
  -o-box-shadow: 0rem 0rem 9rem rgba(255,0,0,0.45);
  border-radius: 17rem;
  right: 45rem;
  display: flex;
  position: relative;
}

.logo img.logopart1{
  width: 27rem;
  height: 27rem;
  display: flex;
  position: relative;
  top: 11.8rem;
  left: 4.5rem;
  transition: 0.50s;
}

.logo img.logopart2{
  width: 27rem;
  height: 27rem;
  display: flex;
  position: relative;
  transition: 0.50s;
  right: 4rem;
}

.logo img.logoimg:hover{
  cursor: grab;
  transition: 0.50s;
  width: 30rem;
  height: 30rem;
}

.logo img.logopart1:hover{
  cursor: grab;
  transition: 0.50s;
  width: 30rem;
  height: 30rem;
}

.logo img.logopart2:hover{
  cursor: grab;
  transition: 0.50s;
  width: 30rem;
  height: 30rem;
}

.title {
  display: flex;
  color: #ffff;
  font-family: 'poppins';
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 7rem;
  font-weight: 600;
  top: 0rem;
  right: 4.8rem;
}

.title h4 {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 100;
  right: 2rem;
  top: -1rem;
}

.login {
  display: flex;
  color: #ffff;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #C13434;
  border-radius: 0.3rem;
  border-style: none;
  width: 8.6rem;
  height: 2.5rem;
  justify-content: start;
  align-items: center;
  padding-left: 1rem;
  position: relative;
  left: 8.4rem;
  transition: 0.3s;
}

.login img {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  left: 1rem;
}

.login:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #bd1f1f;
  background-color: #000;
}

.title .spacer {
  height: 0.75rem;
  width: 10rem;
  background-color: #C13434;
  border-radius: 0.5rem;
  position: relative;
  left: -22rem;
  top: -2rem;
}


@media screen and (max-width: 880px) {
  .home {
    flex-direction: column;
  }

  .logo img.logoimg{
    top: 0;
    right: 0;
    left: -29.5rem;
  }

  .logo img.logopart1{
    left: 21rem;
  }

  .logo img.logopart2{
    left: 10rem;
  }

  .title h1 {
    top: 0;
    right: 0;
  }

  .title h4 {
    top: -1rem;
    right: -2.7rem;
  }

  .title .spacer{
    left: -15rem;
    top: -2rem;
  }

  .login {
    top: -1rem;
    left: 13.3rem;
  }
}
